@import "../../assets/scss/vars";
.faq-wrap {
  justify-content: center;
  h2 {
    text-align: center;
  }
  .faq-item {
    border-bottom: 1px solid $light-grey;
    overflow: hidden;
    &.opened {
      .faq-answer {
        height: initial;
        opacity: 1;
        padding: $mg1 0;
      }
      .faq-title {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  .faq-title {
    font-size: 20px;
    padding: 24px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      margin-left: auto;
      fill: $grey;
      width: 18px;
      height: 18px;
      transition: transform 0.2s ease;
    }
  }
  .faq-answer {
    font-size: 16px;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: $sm - 1px){
  .faq-wrap {
    .faq-answer {
      font-size: inherit;
    }
    .faq-title {
      font-size: 16px;
      svg {
        min-width: 18px;
        padding-left: 10px;
      }
    }
  }
}
