@import "../../assets/scss/vars";

.gallery-wrap {
  h2 {
    text-align: center;
  }
  .gallery-list {
    $maxSize: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: $mg2;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    img, a {
      flex: 1 1 20%;
      max-height: $maxSize;
      max-width: $maxSize;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: $sm - 1px) {
  .gallery-wrap {
    .gallery-list {
      img, a {
        flex: 1 1 50%;
      }
    }
  }
}
