@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: $mg2;
  //@include gap(3, $mg2, '*');

  .post-item {
    text-decoration: none;
    box-shadow: $shadow;
    padding: $mg2 / 2;
    color: $text-color;
    background: #fff;
    border-radius: $radius-card;
    display: block;
    position: relative;
    img {
      border-radius: 14px;
      width: 100%;
      margin-bottom: 12px;
    }
    .post-title {
      font-size: 16px;
      color: $text-color;
    }
  }
  .post-tail {
    $maxWidth: calc((100% - #{$mg2} * 2)/ 4);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 $maxWidth;
    max-width: $maxWidth;
    .post-item{
      width: 100%;
    }
    img {
      display: none;
    }
    & > .post-item:first-child {
      margin-bottom: $mg2;
    }
  }
  &.columns {
    @include gap(3, $mg2, '.post-item');
  }
  &.metro {
    &>.post-item {
      &:first-of-type {
        $maxWidth: calc((100% - #{$mg2} * 2)/ 2);
        text-align: center;
        color: white;
        flex: 1 1 $maxWidth;
        max-width: $maxWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          object-fit: cover;
        }
        .post-title, .date {
          z-index: 2;
          color: #fff;
          position: relative;
          svg {
            fill: #fff;
          }
        }
        .post-title{
          font-size: 32px;
        }
        .date{
          position: absolute;
          bottom: 1rem;
        }
      }
      &:nth-of-type(2) {
        $maxWidth: calc((100% - #{$mg2} * 2)/ 4);
        flex: 1 1 $maxWidth;
        max-width: $maxWidth;
      }
    }
  }
}

@media screen and (max-width: $sm - 1px){
  .post-list {
    .post-item {
      iframe {
        width: 100% !important;
        height: 180px !important;
      }
    }
    &.metro > .post-item, .post-tail {
      width: 100% !important;
      max-width: 100% !important;
      flex-basis: 100% !important;
    }
    &.columns > .post-item {
      width: 100% !important;
      max-width: 100% !important;
      flex-basis: 100% !important;
    }
  }
}
