@import "../../assets/scss/vars";
.speakers-wrap {
  .speakers-list {
    display: flex;
    flex-wrap: wrap;
    gap: $mg2;
  }

  .speaker-card {
    $maxWidth: calc((100% - #{$mg2*3})/4);
    background: white;
    border-radius: $radius-card;
    box-shadow: $shadow;
    padding: $mg1;
    flex: 1 1 $maxWidth;
    max-width: $maxWidth;
    color: $text-color;
    img {
      width: 100%;
      height: 250px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .speaker-name {
    font-weight: 600;
    margin: 1rem 0 0.5rem;
  }

  @media screen and (max-width: $sm - 1px){
    .speaker-card {
      width: 100%;
      max-width: 100%;
      flex-basis: auto;
    }
  }
}
