@import "../../assets/scss/vars";

section.topics-wrap {
  .topics {
    row-gap: $mg2;
    column-gap: 2%;
  }
  .topic-title {
    font-weight: 600;
    font-size: 20px;
  }
  .topic-item {
    width: 32%;
  }

  .topic-icon {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: $sm - 1px){
    column-gap: 0;
    .topic-item {
      width: 100%;
    }
  }
}
