.button {
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 1px solid;
  color: $primary;
  padding: 1rem 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: $button-height;
  box-sizing: border-box;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background: transparent;
  font-weight: 600;
  outline: none;
  &.primary {
    background: $secondary;
    color: $primary;
    border-color: $secondary;
  }
  &.big {
    height: $input-height + 25px;
    padding: 1rem 6em;
    font-size: 14px;
  }
}
