@import 'vars';
@import 'mixins';

.button, input[type=submit] {
  font-size: 1rem;
  border-radius: $radius;
  border: 1px solid;
  padding: 1rem 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: $button-height;
  box-sizing: border-box;
  line-height: 1;
  white-space: nowrap;
  background: transparent;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  font-family: $font-family;
  &.primary {
    background: $primary;
    color: white;
    border-color: $primary;
  }
  &.secondary {
    background: transparent;
    color: $secondary;
    border-color: $secondary;
  }
  &.big {
    height: $input-height + 25px;
    padding: 1rem 6em;
    font-size: 14px;
  }
}
input[type=submit]{
  background: $primary;
  color: white;
  border-color: $primary;
}


.meta {
  display: flex;
  align-items: center;
  i , svg {
    margin-right: 10px;
    color: $light-grey;
    width: 22px;
    text-align: center;
  }
  & + & {
    margin-top: $mg2;
  }
}

.card {
  @include card($mg2);
}

.grid-4 {
  @include gap(4, $mg2, '.card-item');
  .card-item {
    @include card();
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: $radius;
      & + .metas {
        margin-top: $mg1;
      }
    }
    .metas {
      & > div + div {
        margin-top: 10px;
      }
    }
    .name {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
