@import "vars";
@import "mixins";

html {
  overflow-x: hidden;
}
pre {
  font-size: 12px;
  line-height: 1.2;
}
body {
  background: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: $primary;
  }
}

.primary-menu {
  display: flex;
  flex-wrap: wrap;
  gap: $mg2;
  a {
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .pll-parent-menu-item {
    img {
      width: 24px;
      margin: 0;
      display: inline;
    }
  }
}

.slick-slider {
  user-select: auto;
}

.bg-gradient{
  background: linear-gradient(0deg, $bg-color, white);
  height: 40vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#site-header {
  background: white;
  z-index: 30;
  .custom-logo {
    max-height: $menu-height * 0.85;
  }
  .primary-menu {
    .sub-menu {
      background: white;
      position: absolute;
      display: none;
    }
    a {
      color: $text-color;
    }
  }
  & > .row {
    height: $menu-height;
  }
}
.content-nav-wrap {
  height: 90px;
  display: flex;
  align-items: center;
}

.page-header {
  text-align: center;
  padding: 1rem 0;
  h1 {
    margin-bottom: 20px;
  }
}

.header-sidebar {
  ul {
    margin: 0;
    list-style: none;
  }
}

section {
  .section-tile, h2 {
    margin-top: 0;
    margin-bottom: $mg2;
  }
  padding: 45px 0;
  .footer-notes {
    max-width: 50%;
  }
}

#site-footer {
  margin-top: auto;
  background: $footer-bg;
  font-size: 12px;
  .social-icons {
    margin: 0;
    width: auto;
    li{ margin: 0 0.5rem 0 0}
    a{
      background: none;
      width: auto;
      height: auto;
      fill: $primary;
    }
  }
  .mail-link {
    color: $text-color;
    font-size: 1rem;
    display: inline-flex;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    svg {
      margin-right: 5px;
      fill: $primary;
    }
  }
}

.footer-copyright{
  background: $bg-copyright;
  height: 40px;
  font-size: 12px;
  display: flex;align-items: center;
  color: rgba($text-color, 40%);
  a {
    text-decoration: none;
  }
}

.meta-top {
  padding-bottom: $mg2;
  border-bottom: 1px solid $light-grey;
}

.type-speaker {
  h1 {
    margin-top: 0;
  }
  aside {
    box-shadow: $shadow;
    border-radius: $radius-card;
  }
  .description {
    border-radius: $radius-card;
  }
}

.menu {
  li.button {
    position: relative;
    border-color: $primary;
    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      font-weight: 400;
    }
    &.primary {
      background: $primary;
      a {
        color: white;
      }
    }
  }
}

.single-event {
  h1 {
    margin-top: 0;
  }
}

.type-post {
  aside {

  }
  .post-body {
    @include card($mg2);
  }
}

.menu-knopka-registraczii-container {
  margin-left: 100px;
}

.pagination {
  margin-top: 40px;
  .nav-links {
    font-size: 1.2rem;
  }
}



@media screen and (max-width: $sm - 1px){
  body {
    padding-top: $menu-height;
  }
  #site-header {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .header-navigation-wrapper {
    position: fixed;
    display: block;
    top: $menu-height;
    height: calc(100vh - #{$menu-height});
    width: 100%;
    background: #fff;
    left: 0;
    bottom: 0;
    z-index: 40;
    padding: $mg3;
    transition: all 0.3s ease;
    transform: translateX(100%);
    .primary-menu {
      display: block;
      li {
        + & {
          margin-top: 10px;
        }
      }
      a {
        padding: 0.5rem 0;
        width: 100%;
        display: block;
      }
    }
    &.opened {
      transform: translateX(0%);
    }
  }
  .menu-knopka-registraczii-container {
    position: absolute;
    bottom: $mg3;
    left: $mg3;
    right: $mg3;
    margin-left: 0;
    li {
      width: 100%;
      margin-left: 0;
      a {
        width: 100%;
        position: relative;
      }
    }
  }
}
