@import "vars";
@import "mixins";
html {
  overflow-x: hidden;
}
body {
  background: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: $primary;
  }
}

.slick-slider {
  user-select: auto;
}

.bg-gradient{
  background: linear-gradient(0deg, #00000000, white);
  height: 40vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#site-header {
  background: transparent;
  & > .row {
    height: $menu-height;
  }
  .primary-menu-wrapper {
    a {
      font-size: 1rem;
      color: $text-color;
      margin-right: $mg2;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.content-nav-wrap {
  height: 90px;
  display: flex;
  align-items: center;
}

.page-header {
  text-align: center;
  padding: 1rem 0;
  h1 {
    margin-bottom: 20px;
  }
}


.header-sidebar {
  ul {
    margin: 0;
    list-style: none;
  }
}


section {
  .section-tile, h2 {
    margin-top: 0;
    margin-bottom: $mg2;
  }
  padding: 45px 0;
  .footer-notes {
    max-width: 50%;
  }
}



#site-footer {
  margin-top: auto;
  background: $footer-bg;
  font-size: 12px;
  .social-icons {
    margin: 0;
    width: auto;
    li{ margin: 0 0.5rem 0 0}
    a{
      background: none;
      width: auto;
      height: auto;
      fill: $primary;
    }
  }
  .mail-link {
    color: $text-color;
    font-size: 1rem;
    display: inline-flex;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    svg {
      margin-right: 5px;
      fill: $primary;
    }
  }
}
.footer-copyright{
  background: $bg-copyright;
  height: 40px;
  font-size: 12px;
  display: flex;align-items: center;
  color: rgba($text-color, 40%);
  a {
    text-decoration: none;
  }
}
.meta-top {
  padding-bottom: $mg2;
  border-bottom: 1px solid $light-grey;
}

.type-speaker {
  h1 {
    margin-top: 0;
  }
  aside {
    box-shadow: $shadow;
    border-radius: $radius-card;
  }
  .description {
    border-radius: $radius-card;
  }
}

.type-post {
  aside {

  }
  .post-body {
    @include card($mg2);
  }
}
