@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";

.programm-results {
  @include gap(2, $mg2, '.event-item');
}

.buttons-row {
  display: flex;
  gap: $mg2;
  margin-top: 26px;

  & > * {
    flex: 1 1 150px;
  }
}


.event-item {
  background: white;
  border-radius: $radius-card;
  box-shadow: $shadow;
  padding: $mg2;
  font-size: 14px;

  .event-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  .post-categories {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    display: flex;

    li {
      margin: 0;
      margin-right: 1rem;
      padding: 0.4rem 1rem;
      background: rgba($accent, 5%);
      color: $accent;
    }
  }
}

.speaker-list {
  display: flex;
  column-count: 2;
  column-gap: 10px;
  margin-top: 10px;

  .speaker {
    display: inline-flex;
    color: $secondary;
    align-items: center;
    max-width: 50%;
    border-radius: $radius;
    text-decoration: none;
  }

  img {
    width: $mg2;
    height: $mg2;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
  }
}

.add-to-calendar {
  position: relative;
}

.add-to-calendar-dropdown {
  @include mini-dropdown;
  position: relative;
  svg {
    margin-right: 10px;
  }
}

.to-share {
  position: relative;
  .button {
    width: 100%;
  }
}
.social-dropdown {
  @include mini-dropdown;
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  button {
    font-size: 24px;
    background: transparent;
    color: $text-color;
  }
}


@media screen and (max-width: $sm - 1px){
  .programm-results {
   & > .event-item {
     width: 100%;
     max-width: 100%;
   }
  }
  .speaker-list {
    .speaker {
      font-size: 10px;
    }
  }
  .event-item {
    .post-categories {
      li {
        font-size: 10px;
      }
    }
  }
}
