@import "vars";
@import "mixins";

.searchandfilter {
  & > ul{
    margin: 0;
    display: flex;
    @include gap(5, $mg2, 'li');
    .sf-field-post-meta-start_date {
     display: none;
    }
    .sf-field-reset {
      flex-basis: 100px;
      margin-bottom: 18px;
      align-self: flex-end;
    }
  }
  .sf_date_field {
    display: flex;
    gap: 10px;
    & > li {
      padding-top: 0;
    }
  }
}

.sf_date_field {
  display: flex;
}
