@import "vars";

.tab-menu {
  background: white;
  padding: 4px;
  display: inline-flex;
  border-radius: $radius;
  a {
    height: $input-height;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
    font-size: 1rem;
    padding: 1rem;
    color: $grey;
    cursor: pointer;
    &.active {
      background: $primary;
      color: white;
      cursor: initial;
    }
  }
  &.equal {
    width: 100%;
    a {
      flex: 1 1;
    }
  }

  @media screen and (max-width: $sm - 1px){
    a {
      min-width: 0;
      font-size: inherit;
      min-height: 36px;
    }
  }
}
