/// Grid
$container: 1200px;
$columns: 12;

//Colors
$text-color: #000;
$primary: #EE9252;
$secondary: #000AFF;
$accent: #2F80ED;
$error: #FF6B6B;

$grey: #878787;
$light-grey: #A8B7C3; //notes
$grey-border: #6D7580;
$map-grey: #CDD6E5;
$bg-color: #F6F8FB;
$footer-bg: #EDF0F3;
$bg-copyright: #E6E9EE;


/// Fonts
$font-size: 18px;
$font-family: "Euclid Circular B";

/// Media sizes and breakpoints
$breakpoints: (
        xs: 321px,
        sm: 426px,
        md: 900px,
        lg: 1041px,
        xl: 1441px
);

$colors: (
        white: #fff,
        primary: $primary,
        secondary: $secondary,
        accent: $accent,
        red: $error,
        grey: $grey,
        lgrey: $light-grey
);

$mg1: 12px;
$mg2: 24px;
$mg3: 32px;
$mg4: 40px;

/// Margins
$margins: (
        xs: $mg1,
        sm: $mg2,
        md: $mg3,
        lg: $mg4,
        xl: 100px
);

$min-margin: 20px;


/// Additional variables:
$radius: 8px;
$radius-card: 20px;

$shadow: 8px 8px 16px 4px rgba(#9098A1, 6%);

$button-height: 48px;
$input-height: $button-height;
$mobile-menu-height: 60px;
$menu-height: 80px;


$sm: nth(nth($breakpoints, 2), 2);
$md: nth(nth($breakpoints, 3), 2);
