.programm-results {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.programm-results > .event-item {
  flex: 1 1 calc((100% - 24px * (2 - 1)) / 2);
  max-width: calc((100% - 24px * (2 - 1)) / 2);
}

.programm-results .event-item {
  background: white;
  border-radius: 20px;
  box-shadow: 8px 8px 16px 4px rgba(144, 152, 161, 0.06);
  padding: 24px;
  font-size: 14px;
}

.programm-results .event-item .event-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.programm-results .event-item .event-title a {
  text-decoration: none;
  color: #000;
}

.programm-results .event-item .post-categories {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
}

.programm-results .event-item .post-categories li {
  margin: 0;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  background: rgba(47, 128, 237, 0.05);
  color: #2F80ED;
}

.programm-results .speaker-list {
  display: flex;
  column-count: 2;
  column-gap: 10px;
  margin-top: 10px;
}

.programm-results .speaker-list .speaker {
  display: inline-flex;
  color: #000AFF;
  align-items: center;
  max-width: 50%;
  text-decoration: none;
}

.programm-results .speaker-list img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.programm-results .location {
  margin-top: 1rem;
}

.programm-results .date {
  margin-top: 1rem;
}

.programm-results .buttons-row {
  display: flex;
  gap: 24px;
  margin-top: 26px;
}

.programm-results .buttons-row > * {
  flex: 1 1 150px;
}

.add-to-calendar {
  position: relative;
}

.add-to-calendar-dropdown {
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  top: 130%;
  box-shadow: 8px 8px 16px 4px rgba(144, 152, 161, 0.06);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #A8B7C3;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.add-to-calendar-dropdown.opened {
  height: auto;
  max-height: none;
  opacity: 1;
  pointer-events: auto;
}

.add-to-calendar-dropdown a {
  font-size: 12px;
  height: 24px;
  color: #000;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.add-to-calendar-dropdown a:last-of-type {
  margin-bottom: 0;
}

.add-to-calendar-dropdown svg {
  margin-right: 10px;
}

.to-share {
  position: relative;
}

.to-share .button {
  width: 100%;
}

.social-dropdown {
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  top: 130%;
  box-shadow: 8px 8px 16px 4px rgba(144, 152, 161, 0.06);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #A8B7C3;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.social-dropdown.opened {
  height: auto;
  max-height: none;
  opacity: 1;
  pointer-events: auto;
}

.social-dropdown a {
  font-size: 12px;
  height: 24px;
  color: #000;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-dropdown a:last-of-type {
  margin-bottom: 0;
}

.social-dropdown button {
  font-size: 24px;
  background: transparent;
  color: #000;
}

/*# sourceMappingURL=programm.css.map */
